<div class="chart-card">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="Books available and lent">
            <ng-template ngbPanelContent>
                <div style="display: block;" class="chart">
                    <canvas baseChart *ngIf="availabilityChartData"
                    [data]="availabilityChartData" 
                    [labels]="availabilityChartLabels" 
                    [chartType]="availabilityChartType"
                    [options]="availabilityChartOptions"
                    [plugins]="availabilityChartPlugins"
                    [legend]="availabilityChartLegend">
                  </canvas>
                            </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>