<div style="display: inline-block;" class="chart-card">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel id="ngb-panel-0" title="Books available and lent">
            <ng-template ngbPanelContent>
                <div style="display: block;" class="chart">
                    <canvas baseChart *ngIf="availabilityChartData"
                    [data]="availabilityChartData" 
                    [labels]="availabilityChartLabels" 
                    [chartType]="availabilityChartType"
                    [options]="availabilityChartOptions"
                    [plugins]="availabilityChartPlugins"
                    [legend]="availabilityChartLegend">
                  </canvas>
                            </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>
<div style="display: inline-block;" class="chart-card">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel id="ngb-panel-0" title="Number of books in categories">
            <ng-template ngbPanelContent>
                <div style="display: block;" class="chart">
                    <canvas baseChart *ngIf="categoryChartData"
                    [data]="categoryChartData" 
                    [labels]="categoryChartLabels" 
                    [chartType]="categoryChartType"
                    [options]="categoryChartOptions"
                    [plugins]="categoryChartPlugins"
                    [legend]="categoryChartLegend">
                  </canvas>
                            </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>
<div style="display: inline-block;" class="chart-card" *ngIf="false">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel id="ngb-panel-0" title="Reports generation">
            <ng-template ngbPanelContent>
                <div style="display: block;" class="chart">
                    <button type="button" class="btn btn-primary" (click)="generateReports()">Generate reports</button>
                            </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>
<div style="display: block;" class="timeline-card">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel id="ngb-panel-0" title="Lendings timeline">
            <ng-template ngbPanelContent>
                <div style="display: block;" class="chart">
                    <canvas baseChart *ngIf="timelineChartData" [datasets]="timelineChartData"
                    [labels]="timelineChartLabels"
                    [options]="timelineChartOptions"
                    [legend]="timelineChartLegend"
                    [chartType]="timelineChartType">
                  </canvas>
                            </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>